.projects__item a {
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 0.7rem;
  text-align: center;
}

.projects__item-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.2rem;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2.5rem;
}

.projects__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 1.3rem;
  border: 2px solid transparent;
  transition: var(--transition);
}

.projects__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.projects__item-image {
  border-radius: 1.1rem;
  overflow: hidden;
  width: 100%;
  /* min-height: 120px; */
  max-height: auto;
}

.projects__item h4 {
  font-size: smaller;
  margin: 1.2rem 0 2rem;
  color: var(--color-dark);
  text-align: center;
}

/* --- MEDIA QUERY - MEDIUM --- */
@media screen and (max-width: 1024px) {
  .projects__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* --- MEDIA QUERY - SMALL --- */
@media screen and (max-width: 600px) {
  .projects__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

#projects {
  scroll-margin-top: 50px;
  padding-top: 5rem;
  padding-bottom: 10rem;
}
